

<% form_for @question_group, url: new_page_path do |f| %>

<% @survey_questions.each do |k,surveytitle| %>
  <% if surveytitle.kind_of?(String) %>
    <%= surveytitle %>
    <%= f.hidden_field @question, :value => surveytitle %>
  <%else%>
    <p><% surveytitle.each do |all_questions| %>
      <% all_questions.each do |k,q| %>
        <% q.each do |q,o| %>
        <%= f.fields_for @questions do |builder| %>
          <%= f.hidden_field @question, :value => q, :f => builder %></p>
          <%end%>
          <p><% o.each do |o, options| %>
              <% @array = [] %>
            <% options.each do |k,v| %>
              <% @array << [k,v] %>

        <%end%>
            <%= f.select @answer, @array %>
            <%end%></p>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
<%end%>

<%= f.submit "submit" %>

<% end %>